.links {
    text-align: right;
}

body {
    font-family: arial,sans-serif;
}

.form{
    text-align: center;
    margin-top: 120px;
}

#input{
    border-radius: 25px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    width: 500px;
    height: 15px;
    position: absolute;
    margin-left: -119px;
   
}

#submit_button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 65px;
    text-align: center;
    margin-left: 8px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
}

#submit_button:hover {
    border: 1px solid #d9d9d9;
}
